#header {
  background-color: #daf6ce;
  margin-bottom: 0;
}


img {
  max-width: 100%;
  padding: 20px;
}

#about {
  border-right: solid black;
  background-color: lightblue;
}

#letsPingPong {
  margin-top: 20px;
}
